/* CSS en-tête */

header {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 30px;
    position: sticky;
    z-index: 5;
    top: 0;
    padding: 20px 0;
    transition: all 0.2s ease-in-out;
}

header nav {
    height: 100%;
    margin-right: 8%;
    transition: all 0.2s ease-in-out;
}

header nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    height: auto;
    list-style-type: none;
}

header .logo {
    margin-left: 8%;
    margin-right: auto;
    transition: all 0.2s ease-in-out;
}

header nav ul li a {
    color: #212832;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

header nav ul li:not(:last-child) {
    margin-right: 30px;
}

/* Remplacement des comportements d'origine */
header nav ul .menu-bouton a,
#footer-plan a {
    text-decoration: none;
    color: inherit;
}

header nav ul .menu-bouton a:hover,
#footer-plan a:hover{
    text-decoration: underline;
}


/* Logo jadoo */

.logo {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

.logo img {
    max-height: 100%;
}

.logo img:first-child {
    margin-right: 20px;
}

.logo:hover img:first-child {
    animation: logo-animation 0.5s ease-in;
    margin-right: 20px;
}

@keyframes logo-animation {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* Menu Burger */
#menuToggle{

    display: none;

}

@media (max-width:1300px){

    #barre-nav{

        display: none;

    }

    /* menu burger */
    #menuToggle
    {
    display: block;
    position: relative;
    top: 10px;
    left: 50px;
    
    z-index: 1;
    }

    #menuToggle a
    {
    text-decoration: none;
    color: #232323;
    
    transition: color 0.3s ease;
    }

    #menuToggle a:hover
    {
    color: tomato;
    }


    #menuToggle input
    {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    }

    /*
    * Just a quick hamburger
    */
    #menuToggle span
    {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #000000;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
    transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
    transform-origin: 0% 100%;
    }

    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    #menuToggle input:checked ~ span
    {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
    }

    /*
    * But let's hide the middle one.
    */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
    * Ohyeah and the last one should go the other direction
    */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
    transform: rotate(-45deg) translate(0, -1px);
    }

    /*
    * Make this absolute positioned
    * at the top left of the screen
    */

    #menu
    {
    position: absolute;
    width: 250px;
    margin: -100px 0 0 -115px;
    padding-left: 35px;
    padding-top: 100px;
    padding-bottom: 25px;
    right: -1000%;
    background: #ededed;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-items: left;
    align-items: flex-start;
    transform: none;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
    padding: 10px 0;
    font-size: 22px;
    }

    /*
    * And let's slide it in from the left
    */
    #menuToggle input:checked ~ ul
    {
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

}


/* CSS pied de page */

footer {
    background-color: #f3f3f3;
    padding: 70px 8% 20px;
}

footer > p {
    font-size: 14px;
}

footer section {
    padding: 0;
}

footer .copyright {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

footer .footer-part {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px;
}

footer p {
    font-size: 18px;
    line-height: 147.5%;
}

#footer-logo .logo {
    display: block;
    height: auto;
}

#footer-logo .logo img {
    height: 50px;
}

#footer-plan div {
    display: inline-block;
    vertical-align: top;
}

#footer-plan p {
    margin: 0;
}

#footer-plan p:not(:last-child) {
    margin: 0 0 10px;
}

#footer-plan .plan-title:not(:last-child) {
    margin: 0 0 20px;
}

#footer-plan .plan-title {
    font-size: 21px;
}

#footer-plan div:not(:last-child) {
    margin: 0 50px 0 0;
}

#footer-uberEats .logo-ubereat {
    height: 30px;
}

#footer-uberEats p {
    margin: 10px 0 30px;
}

#footer-uberEats .app-download-button {
    background-color: #000;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 10px;
}

#footer-uberEats .app-download-button img {
    margin: 0 10px 0 0;
}

#footer-uberEats .app-download-button * {
    display: inline-block;
    vertical-align: middle;
}


/* responsive header / footer */
@media (max-width: 1024px) {

    header nav ul li {
        display: none;
    }

    header .logo {
        margin-left: 5%;
    }

    header nav {
        margin-right: 5%;
    }

    header .burger {
        display: inline-block;
        vertical-align: middle;
    }

    footer {
        padding-left: 5%;
        padding-right: 5%;
    }

    footer .footer-part,
    footer .footer-part * {
        text-align: center;
    }

    footer #footer-plan.footer-part * {
        text-align: left;
    }
}


/* Mobile */

@media (max-width: 656px) {

    footer {
        padding-top: 8%;
        padding-bottom: 8%;
    }

}

@media (max-width: 360px) {

    #footer-plan{

       flex-direction: column;

    }

    #footer-plan p{

        font-size: 14px;

    }

    #footer-plan div:not(:last-child){

        margin-right: 20px;

    }

}